<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>TrollDecrypt</string>
    <key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ClearDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ClearDark60x60</string>
					<string>ClearDark76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ClearDark</string>
			</dict>
			<key>ClearLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ClearLight60x60</string>
					<string>ClearLight76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ClearLight</string>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark60x60</string>
					<string>Dark76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Dark</string>
			</dict>
			<key>Original</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original60x60</string>
					<string>Original76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Original</string>
			</dict>
			<key>TintedDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TintedDark60x60</string>
					<string>TintedDark76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>TintedDark</string>
			</dict>
			<key>TintedLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TintedLight60x60</string>
					<string>TintedLight76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>TintedLight</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ClearDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ClearDark60x60</string>
					<string>ClearDark76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ClearDark</string>
			</dict>
			<key>ClearLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ClearLight60x60</string>
					<string>ClearLight76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ClearLight</string>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark60x60</string>
					<string>Dark76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Dark</string>
			</dict>
			<key>Original</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original60x60</string>
					<string>Original76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>Original</string>
			</dict>
			<key>TintedDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TintedDark60x60</string>
					<string>TintedDark76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>TintedDark</string>
			</dict>
			<key>TintedLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TintedLight60x60</string>
					<string>TintedLight76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>TintedLight</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
    
	<key>CFBundleIdentifier</key>
	<string>com.fiore.trolldecrypt</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
